{extend name='base'/}
{block name='content'}
<div id="loading">
	<div id="loading-center">
		<div id="loading-center-absolute">
			<div class="object" id="object_one"></div>
			<div class="object" id="object_two"></div>
			<div class="object" id="object_three"></div>
			<div class="object" id="object_four"></div>
		</div>
	</div>
</div><!--End off Preloader 
<div class="culmn">
	<!--Home page style-->
	<section id="myCarousel"  class="carousel slide" data-ride="carousel">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
		<li data-target="#myCarousel" data-slide-to="3"></li>
		<!-- <li data-target="#myCarousel" data-slide-to="4"></li> -->
		
		
    </ol>   
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="__STATIC__/images/background/lg1.jpg" alt="First slide">
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <img src="__STATIC__/images/background/lg2.jpg" alt="Second slide">
            <div class="carousel-caption"></div>
        </div>
        <div class="item">
            <img src="__STATIC__/images/background/lg3.jpg" alt="Third slide">
            <div class="carousel-caption"></div>
        </div>
		 <div class="item">
            <img src="__STATIC__/images/background/lg4.jpg" alt="Third slide">
            <div class="carousel-caption"></div>
        </div>		
		 <!-- <div class="item">
            <img src="__STATIC__/images/background/lg7.jpg" alt="Third slide">
            <div class="carousel-caption"></div>
        </div> -->
		
    </div>
    <!-- 轮播（Carousel）导航 -->
    <a class="carousel-control left" href="#myCarousel" 
        data-slide="prev">
    </a>
    <a class="carousel-control right" href="#myCarousel" 
        data-slide="next">
    </a>

        </section>
	<!--About Sections-->
	<section id="about" class="about roomy-15">
		<div class="container">
			<div class="row">
				<div class="main_about">
					<div class="col-md-6">
						<div class="about_content">
							<h2>关于我们</h2>
							<div class="separator_left"></div>

							<p>益高盛世國際物流有限公司主要承辦進出口貨物的國際貨運代理業務，國際、國內航空運輸、集裝箱海運、散貨拼箱、散雜貨運輸、包機、多式聯運、倉儲、配送、代理報關、代理報檢、代理進出口等服務，是全面的綜合性國際物流企業。 </p>

							<div class="about_btns m-top-40">
								<a href="about_us.html" class="btn btn-primary">了解更多</a>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="about_accordion wow fadeIn">
							<div id="faq_main_content" class="faq_main_content">
								<h6><i class="fa fa-angle-right"></i> 公司介绍</h6>
								<div>
									<div class="content">
										<p>益高盛世國際物流有限公司,是經中華人民共和國對外貿易經濟合作,國家工商行政管理局註冊成立的大型國際貨運代理企業,擁有國家無船承運人資證格（NVOCC）,是深圳市航空航天協會的常務理事單位，是中國國際貨運代理協會的成員，作為服務公司,我司具有良好的信譽及高效率服務品質,同時具有雄厚的業務技術力量和龐大的國外代理網路 </p>

									</div>
								</div> <!-- End off accordion item-1 -->

								<h6 class="open"><i class="fa fa-angle-right"></i> 益高精神</h6>
								<div class="open">
									<div class="content">
										<p>公司自成立以来，一直强调讲实干，求实效，讲创新，讲效率，讲效益。企业战略、企业理念不能成为口号，关键在于行动。务实才能兴企，务实的文化不是保守的文化，是积极健康的文化</p>
									</div>
								</div> <!-- End off accordion item-2 -->

								<h6> <i class="fa fa-angle-right"></i> 社会责任</h6>
								<div>
									<div class="content">
										<p>对于益高而言，不仅看重的是经济利益，更看重的是企业的可持续发展，从而造福更多的大众，为社会的和谐发展贡献更多的力量。</p>
									</div>
								</div> <!-- End off accordion item-3 -->
								<!-- <h6> <i class="fa fa-angle-right"></i> 可持续发展</h6>
								<div>
									<div class="content">
										<p> 益高盛世國際物流（深圳）有限公司立足於中國，面向全球。總部設立在香港，在印度、巴基斯坦、中東都設立了分公司，并在國內成立多家公司，立志打造世界知名的物流品牌，在全球一體化的浪潮中更好地維護客戶的權益，提供更加優質現代化的物流服務。</p>
									</div> -->
								</div> <!-- End off accordion item-4 -->
							
							</div>
						</div>
					</div>
				</div>
		</div><!--End off row-->
		<!--End off container -->
		<br />
		<hr />	
		<div class="container">
			<div class="row">
				<div class="about_bottom_content">
				<div class="col-md-4">
						<div class="about_bottom_item m-top-20">
							<div class="ab_head">
								<div class="ab_head_icon">
									<i class="icofont icofont-speech-comments"></i>
								</div>
								<h6 class="m-top-20">经营理念、服务宗旨</h6>
							</div>
							<p class="m-top-20">&nbsp;&nbsp;&nbsp;&nbsp;创新进取、持续发展、共赢共利、客户至上、诚信营运、团队协作、专业服务、客户价值的延伸、公司价值的体现、员工个人价值的实现，成为全球领先的国际物流综合服务平台。</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="about_bottom_item m-top-20">
							<div class="ab_head">
								<div class="ab_head_icon">
									<i class="icofont icofont-speech-comments"></i>
								</div>
								<h6 class="m-top-20"> 专业服务团队</h6>
							</div>
							<p class="m-top-20">&nbsp;&nbsp;&nbsp;&nbsp;公司擁有職業化程度高、專業化技能強高效高素質團隊，憑藉對貨運行業資深專業地探究，時時掌握貨運行業前沿動向，配以先進的物流作業系統，為客人提供優質便捷的物流服務。集團公司與航空公司、船務公司、港口碼頭、海關等部門實行聯網操作，實現進出口報關報檢EDI 無紙化運作，第一時間瞭解貨物的流通狀態，準確及時做出快速反應，贏得時間，贏得主動</p>
						</div>
					</div>
					
					<div class="col-md-4">
						<div class="about_bottom_item m-top-20">
							<div class="ab_head">
								<div class="ab_head_icon">
									<i class="icofont icofont-speech-comments"></i>
								</div>
								<h6 class="m-top-20">可持续发展</h6>
							</div>
							<p class="m-top-20">&nbsp;&nbsp;&nbsp;&nbsp;公司立足於中國，面向全球。總部設立在香港，在印度、巴基斯坦、中東都設立了分公司，并在國內成立多家公司，立志打造世界知名的物流品牌，在全球一體化的浪潮中更好地維護客戶的權益，提供更加優質現代化的物流服務。。</p>
						</div>
					</div>
				</div>
			</div><!--End off row-->
		</div><!--End off container -->
	</section> <!--End off About section -->
	<div class="container">
		<div class="row">
			<div id="dianqi" class="main_featured m-top-20">
				<div class="col-sm-12">
					<div class="head_title text-center">
						<h2>核心业务</h2>
						<div class="separator_auto"></div>
						<p>空運业务，海運业务，中港陆运，仓储业务。</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="featured_slider">
		<div>
			<div class="featured_img">
				<img src="__STATIC__/images/fprojects/1.jpg" alt="" />
				<a href="__STATIC__/images/fprojects/1.jpg" class="popup-img"></a>
			</div>
		</div>
		<div>
			<div class="featured_img">
				<img src="__STATIC__/images/fprojects/2.jpg" alt="" />
				<a href="__STATIC__/images/fprojects/2.jpg" class="popup-img"></a>
			</div>
		</div>
		<div>
			<div class="featured_img">
				<img src="__STATIC__/images/fprojects/3.jpg" alt="" />
				<a href="__STATIC__/images/fprojects/3.jpg" class="popup-img"></a>
			</div>
		</div>
		<div>
			<div class="featured_img">
				<img src="__STATIC__/images/fprojects/4.jpg" alt="" />
				<a href="__STATIC__/images/fprojects/4.jpg" class="popup-img"></a>
			</div>
		</div>
	</div><!-- End off featured slider -->
	<!--Service Section-->
	<section id="service" class="service">
		<div class="container">
			<div class="row">
				<div class="main_service roomy-15">
					<!-- <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1"> -->
						<div class="head_title text-center" id="fuwu">
							<!-- <h2>核心业务</h2> -->
							<div class="separator_auto"></div>
						<!-- </div> -->
					</div>

					<div class="col-md-4">
						<div class="service_item">
							<div class=" row m-top-20">
							<i class="icofont icofont-group col-md-3"></i>
							<h4 class="col-md-9">空運业务</h4>							
							</div>
							<div class="separator_small"></div>							
							<p>印度捷特航空（9W）， 國泰航空(CX)，印度航空(AI)，泰國國際航空(TG)，阿曼航空(WY)，阿提哈德航空(EY)，衣索比亞航空（ET）,肯亞航空（KQ）,都是指定的一級代理莊家.空運優勢航線是印度，中東，巴基斯坦，基本每個點都有自己的網路,能操作每個城市的貨物,隨時為每個客人提供安全,細緻,優質,快捷,完善的服務。</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="service_item">
							<div class=" row m-top-20">
							<i class="icofont icofont-group col-md-3"></i>
							<h4 class="col-md-9">海運业务</h4>
							</div>
							<div class="separator_small"></div>
							<p>APL,COSCO,EVERGREEN,YML,HPL,TSL,ONE,MSC,CMA,K-LINE,OOCL,MAERSK,PIL, ZIM LINE, NYK等多家中外船公司保持著長期密切的全航線合作關係及低於市場價的優惠協議。</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="service_item">
							<div class=" row m-top-20">
							<i class="icofont icofont-group col-md-3"></i>
							<h4 class="col-md-9">中港陆运，仓储业务</h4>							
							</div>
							<div class="separator_small"></div>
							<p> 
     公司有超过10多年中港陆运和仓储服务运营经验，提供中港陆运服务，深港仓储服务！货物不受任何重量、体积限制，不受旺季航路不畅影响，帮助客户实现海外本地化仓储服务。凭借优势地理位置，能够更好地与机场、港口码头、和配送中心衔接， 提高了货物周转率，降低物流成本。
 </p>
						</div>
					</div>
				</div>
			</div><!--End off row -->
		</div><!--End off container -->
	</section> <!--End off Featured section-->
	<!--Portfolio Section-->
	<section id="portfolio" class="portfolio lightbg">
		<div class="container" >
			<div class="row">
				<div class="main_portfolio roomy-40">
					<div class="col-md-8 col-md-offset-2">
						<div class="head_title text-center">
							<h2>我们的优势</h2>
							<div class="separator_auto"></div>
							<p>益高盛世國際物流有限公司在集團內部整合印度，中東，巴基斯坦 ，等區域的航線運價優勢，在滿足客人時效、艙位、報關等條件下，為客人提供運價優越、選擇多樣、操作便捷、安全高效的最佳物流方案，最大程度地滿足客人目標需求。</p>
						</div>
					</div>

					<div class="portfolio_content" id="hulian">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-4 m-top-30">
									<div class="portfolio_item portfolio_item2">
										<img src="__STATIC__/images/Portfolio/1.jpg" alt="" />
										<div class="portfolio_hover text-center">
											<h6 class="text-uppercase text-white">Title</h6>
											<p class=" text-white">9W Air Line</p>
											<div class="portfolio_hover_icon">
												<a href="__STATIC__/images/Portfolio/3.jpg" class="popup-img"><i class="fa fa-expand"></i></a>
												<a href=""><i class="fa fa-search"></i></a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 m-top-30">
									<div class="portfolio_item portfolio_item2">
										<img src="__STATIC__/images/Portfolio/2.jpg" alt="" />
										<div class="portfolio_hover text-center">
											<h6 class="text-uppercase text-white">Title</h6>
											<p class=" text-white">CX Air Line</p>
											<div class="portfolio_hover_icon">
												<a href="__STATIC__/images/Portfolio/3.jpg" class="popup-img"><i class="fa fa-expand"></i></a>
												<a href=""><i class="fa fa-search"></i></a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 m-top-30">
									<div class="portfolio_item portfolio_item2">
										<img src="__STATIC__/images/Portfolio/3.jpg" alt="" />
										<div class="portfolio_hover text-center">
											<h6 class="text-uppercase text-white">Title</h6>
											<p class=" text-white">KML</p>
											<div class="portfolio_hover_icon">
												<a href="__STATIC__/images/Portfolio/3.jpg" class="popup-img"><i class="fa fa-expand"></i></a>
												<a href=""><i class="fa fa-search"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							
						</div>

					</div>
				</div>
			</div><!--End off row -->
		</div><!--End off container -->
	</section><!-- End off Portfolio section-->
	<!--Maps Section-->
<!-- 	 <div class="main_maps text-center fix">
		<div class="overlay"></div>
		<div class="maps_text">
			<h3 class="text-white" onClick="showmap()">FIND US ON THE MAP <i class="fa fa-angle-down"></i></h3>
			<div id="map_canvas" class="mapheight"></div>
		</div>
	</div> --><!-- End off Maps Section -->

<!--kefu-->
 <div id="kefu">
                    <ul>
                        <li>
                            <a href="javascript:void(0)" class="weixin_area">
                                <img src="__STATIC__/images/kefu/l02.png" width="47" height="49" class="shows" />
                                <img src="__STATIC__/images/kefu/a.png" width="57" height="49" class="hides" />
                                <img src="__STATIC__/images/kefu/weixin.jpg" width="145" class="weixin" style="display:none;margin:-100px 57px 0 0" />
                            </a>
                        </li>
                        <li>
                            <a href="http://wpa.qq.com/msgrd?v=3&uin=800022936&site=qq&menu=yes" target="_blank">
                                <div class="hides" style="width:161px;display:none;" id="qq">
                                    <div class="hides" id="p1">
                                        <img src="__STATIC__/images/kefu/ll04.png">
                                    </div>
                                    <div class="hides" id="p2"><span style="color:#FFF;font-size:13px">3004187504</span>
                                    </div>
                                </div>
                                <img src="__STATIC__/images/kefu/l04.png" width="47" height="49" class="shows" />
                            </a>
                        </li>
                        <li id="tel">
                            <a href="javascript:void(0)">
                                <div class="hides" style="width:161px;display:none;" id="tels">
                                    <div class="hides" id="p1">
                                        <img src="__STATIC__/images/kefu/ll05.png">
                                    </div>
                                    <div class="hides" id="p3"><span style="color:#FFF;font-size:12px">00852-23455678</span>
                                    </div>
                                </div>
                                <img src="__STATIC__/images/kefu/l05.png" width="47" height="49" class="shows" />
                            </a>
                        </li>
                        <li id="btn">
                            <a id="top_btn">
                                <div class="hides" style="width:161px;display:none">
                                    <img src="__STATIC__/images/kefu/ll06.png" width="161" height="49" />
                                </div>
                                <img src="__STATIC__/images/kefu/l06.png" width="47" height="49" class="shows" />
                            </a>
                        </li>
                    </ul>
                </div>


<!--End kefu-->
	<!-- hezuohuoban-->
	<div class="Special">
     <h1></h1>
     <div class="LeftBotton" onmousedown="ISL_GoUp()" onmouseup="ISL_StopUp()" onmouseout="ISL_StopUp()"></div>
     <div class="Cont" id="ISL_Cont">
            <div class="ScrCont">
                     <div id="List1">
                     
                       <!-- 图片列表 begin -->
                        <div class="pic">
                                  <a href="" target="_blank"><img src="__STATIC__/images/a1/584144b41d9c6.jpg" width="170px" height="70px"></a>
                                 
                               </div><div class="pic">
                                  <a href="" target="_blank"><img src="__STATIC__/images/a1/1438252772.jpg" width="170px" height="70px"></a>
                                 
                               </div><div class="pic">
                                  <a href="" target="_blank"><img src="__STATIC__/images/a1/1438252789.jpg" width="170px" height="70px"></a>
                                 
                               </div><div class="pic">
                                  <a href="" target="_blank"><img src="__STATIC__/images/a1/1438252842.jpg" width="170px" height="70px"></a>
                                 
                               </div><div class="pic">
                                  <a href="" target="_blank"><img src="__STATIC__/images/a1/1453313660.jpg" width="170px" height="70px"></a>
                                 
                               </div><div class="pic">
                                  <a href="" target="_blank"><img src="__STATIC__/images/a1/1453313671.jpg" width="170px" height="70px"></a>
                                 
                               </div><div class="pic">
                                  <a href="" target="_blank"><img src="__STATIC__/images/a1/1453313730.jpg" width="170px" height="70px"></a>
                                 
                               </div><div class="pic">
                                  <a href="" target="_blank"><img src="__STATIC__/images/a1/1453313742.jpg" width="170px" height="70px"></a>
                                 
                               </div><div class="pic">
                                  <a href="" target="_blank"><img src="__STATIC__/images/a1/1453313754.jpg" width="170px" height="70px"></a>
                                 
                               </div><div class="pic">
                                  <a href="" target="_blank"><img src="__STATIC__/images/a1/1453313770.jpg" width="170px" height="70px"></a>
                                 
                               </div><div class="pic">
                                  <a href="" target="_blank"><img src="__STATIC__/images/a1/1453313782.jpg" width="170px" height="70px"></a>
                                 
                               </div><div class="pic">
                                  <a href="" target="_blank"><img src="__STATIC__/images/a1/1453313795.jpg" width="170px" height="70px"></a>
                                 
                               </div><div class="pic">
                                  <a href="" target="_blank"><img src="__STATIC__/images/a1/1453313809.jpg" width="170px" height="70px"></a>
                                 
                               </div><div class="pic">
                                  <a href="" target="_blank"><img src="__STATIC__/images/a1/1453313822.jpg" width="170px" height="70px"></a>
                                 
                               </div><div class="pic">
                                  <a href="" target="_blank"><img src="__STATIC__/images/a1/1453313837.jpg" width="170px" height="70px"></a>
                                 
                               </div><div class="pic">
                                  <a href="" target="_blank"><img src="__STATIC__/images/a1/1453313846.jpg" width="170px" height="70px"></a>
                                 
                               </div><div class="pic">
                                  <a href="" target="_blank"><img src="__STATIC__/images/a1/570d07028311f.jpg" width="170px" height="70px"></a>
                                 
                               </div><div class="pic">
                                  <a href="" target="_blank"><img src="__STATIC__/images/a1/570d070e96455.jpg" width="170px" height="70px"></a>
                                 
                               </div><div class="pic">
                                  <a href="" target="_blank"><img src="__STATIC__/images/a1/570d0721bfb86.jpg" width="170px" height="70px"></a>
                                 
                               </div><div class="pic">
                                  <a href="" target="_blank"><img src="__STATIC__/images/a1/5735b1049f068.jpg" width="170px" height="70px"></a>
                                 
                               </div><div class="pic">
                                  <a href="" target="_blank"><img src="__STATIC__/images/a1/5735b1134e1fb.jpg" width="170px" height="70px"></a>
                                 
                               </div><div class="pic">
                                  <a href="" target="_blank"><img src="__STATIC__/images/a1/5735b11ca887e.jpg" width="170px" height="70px"></a>
                                 
                               </div>                        <!-- 图片列表 end -->
                      
                     </div>
                     <div id="List2">
                     
                       <!-- 图片列表 begin -->
                        <div class="pic">
                                  <a href="" target="_blank"><img src="__STATIC__/images/a1584144b41d9c6.jpg" width="170px" height="70px"></a>
                                 
                               </div><div class="pic">
                                  <a href="" target="_blank"><img src="__STATIC__/images/a1/1438252772.jpg" width="170px" height="70px"></a>
                                 
                               </div><div class="pic">
                                  <a href="" target="_blank"><img src="__STATIC__/images/a1/1438252789.jpg" width="170px" height="70px"></a>
                                 
                               </div><div class="pic">
                                  <a href="" target="_blank"><img src="__STATIC__/images/a1/1438252842.jpg" width="170px" height="70px"></a>
                                 
                               </div><div class="pic">
                                  <a href="" target="_blank"><img src="__STATIC__/images/a1/1453313660.jpg" width="170px" height="70px"></a>
                                 
                               </div><div class="pic">
                                  <a href="" target="_blank"><img src="__STATIC__/images/a1/1453313671.jpg" width="170px" height="70px"></a>
                                 
                               </div><div class="pic">
                                  <a href="" target="_blank"><img src="__STATIC__/images/a1/1453313730.jpg" width="170px" height="70px"></a>
                                 
                               </div><div class="pic">
                                  <a href="" target="_blank"><img src="__STATIC__/images/a1/1453313742.jpg" width="170px" height="70px"></a>
                                 
                               </div><div class="pic">
                                  <a href="" target="_blank"><img src="__STATIC__/images/a1/1453313754.jpg" width="170px" height="70px"></a>
                                 
                               </div><div class="pic">
                                  <a href="" target="_blank"><img src="__STATIC__/images/a1/1453313770.jpg" width="170px" height="70px"></a>
                                 
                               </div><div class="pic">
                                  <a href="" target="_blank"><img src="__STATIC__/images/a1/1453313782.jpg" width="170px" height="70px"></a>
                                 
                               </div><div class="pic">
                                  <a href="" target="_blank"><img src="__STATIC__/images/a1/1453313795.jpg" width="170px" height="70px"></a>
                                 
                               </div><div class="pic">
                                  <a href="" target="_blank"><img src="__STATIC__/images/a1/1453313809.jpg" width="170px" height="70px"></a>
                                 
                               </div><div class="pic">
                                  <a href="" target="_blank"><img src="__STATIC__/images/a1/1453313822.jpg" width="170px" height="70px"></a>
                                 
                               </div><div class="pic">
                                  <a href="" target="_blank"><img src="__STATIC__/images/a1/1453313837.jpg" width="170px" height="70px"></a>
                                 
                               </div><div class="pic">
                                  <a href="" target="_blank"><img src="__STATIC__/images/a1/1453313846.jpg" width="170px" height="70px"></a>
                                 
                               </div><div class="pic">
                                  <a href="" target="_blank"><img src="__STATIC__/images/a1/570d07028311f.jpg" width="170px" height="70px"></a>
                                 
                               </div><div class="pic">
                                  <a href="" target="_blank"><img src="__STATIC__/images/a1/570d070e96455.jpg" width="170px" height="70px"></a>
                                 
                               </div><div class="pic">
                                  <a href="" target="_blank"><img src="__STATIC__/images/a1/570d0721bfb86.jpg" width="170px" height="70px"></a>
                                 
                               </div><div class="pic">
                                  <a href="" target="_blank"><img src="__STATIC__/images/a1/5735b1049f068.jpg" width="170px" height="70px"></a>
                                 
                               </div><div class="pic">
                                  <a href="" target="_blank"><img src="__STATIC__/images/a1/5735b1134e1fb.jpg" width="170px" height="70px"></a>
                                 
                               </div><div class="pic">
                                  <a href="" target="_blank"><img src="__STATIC__/images/a1/5735b11ca887e.jpg" width="170px" height="70px"></a>
                                 
                               </div>                        <!-- 图片列表 end -->
                      
                     </div>
            </div>
     </div>
     <div class="RightBotton" onmousedown="ISL_GoDown()" onmouseup="ISL_StopDown()" onmouseout="ISL_StopDown()"></div>
</div>
<script language="javascript" type="text/javascript">
<!--//--><![CDATA[//><!--
//图片滚动列表 16css.com
var Speed = 3; //速度(毫秒)
var Space = 5; //每次移动(px)
//var PageWidth = 528; //翻页宽度
var PageWidth =956; //翻页宽度
var fill = 0; //整体移位
var MoveLock = false;
var MoveTimeObj;
var Comp = 0;
var AutoPlayObj = null;
GetObj("List2").innerHTML = GetObj("List1").innerHTML;
GetObj('ISL_Cont').scrollLeft = fill;
GetObj("ISL_Cont").onmouseover = function(){clearInterval(AutoPlayObj);}
GetObj("ISL_Cont").onmouseout = function(){AutoPlay();}
AutoPlay();
function GetObj(objName){if(document.getElementById){return eval('document.getElementById("'+objName+'")')}else{return eval('document.all.'+objName)}}
function AutoPlay(){ //自动滚动
 clearInterval(AutoPlayObj);
 AutoPlayObj = setInterval('ISL_GoDown();ISL_StopDown();',3000); //间隔时间
}
function ISL_GoUp(){ //上翻开始
 if(MoveLock) return;
 clearInterval(AutoPlayObj);
 MoveLock = true;
 MoveTimeObj = setInterval('ISL_ScrUp();',Speed);
}
function ISL_StopUp(){ //上翻停止
 clearInterval(MoveTimeObj);
 if(GetObj('ISL_Cont').scrollLeft % PageWidth - fill != 0){
  Comp = fill - (GetObj('ISL_Cont').scrollLeft % PageWidth);
  CompScr();
 }else{
  MoveLock = false;
 }
 AutoPlay();
}
function ISL_ScrUp(){ //上翻动作
 if(GetObj('ISL_Cont').scrollLeft <= 0){GetObj('ISL_Cont').scrollLeft = GetObj('ISL_Cont').scrollLeft + GetObj('List1').offsetWidth}
 GetObj('ISL_Cont').scrollLeft -= Space ;
}
function ISL_GoDown(){ //下翻
 clearInterval(MoveTimeObj);
 if(MoveLock) return;
 clearInterval(AutoPlayObj);
 MoveLock = true;
 ISL_ScrDown();
 MoveTimeObj = setInterval('ISL_ScrDown()',Speed);
}
function ISL_StopDown(){ //下翻停止
 clearInterval(MoveTimeObj);
 if(GetObj('ISL_Cont').scrollLeft % PageWidth - fill != 0 ){
  Comp = PageWidth - GetObj('ISL_Cont').scrollLeft % PageWidth + fill;
  CompScr();
 }else{
  MoveLock = false;
 }
 AutoPlay();
}
function ISL_ScrDown(){ //下翻动作
 if(GetObj('ISL_Cont').scrollLeft >= GetObj('List1').scrollWidth){GetObj('ISL_Cont').scrollLeft = GetObj('ISL_Cont').scrollLeft - GetObj('List1').scrollWidth;}
 GetObj('ISL_Cont').scrollLeft += Space ;
}
function CompScr(){
 var num;
 if(Comp == 0){MoveLock = false;return;}
 if(Comp < 0){ //上翻
  if(Comp < -Space){
   Comp += Space;
   num = Space;
  }else{
   num = -Comp;
   Comp = 0;
  }
  GetObj('ISL_Cont').scrollLeft -= num;
  setTimeout('CompScr()',Speed);
 }else{ //下翻
  if(Comp > Space){
   Comp -= Space;
   num = Space;
  }else{
   num = Comp;
   Comp = 0;
  }
  GetObj('ISL_Cont').scrollLeft += num;
  setTimeout('CompScr()',Speed);
 }
}
//--><!]]>
</script>
<!-- hezuohuoban-->

	<!--Contact Us Section-->
	<section id="contact" class="contact bg-mega fix">
		<div class="container">
			<div class="row">
				<div class="main_contact roomy-100 text-white">
					<div class="col-md-4">
						<div class="rage_widget">
							<div class="widget_head">
								<h3 class="text-white">联系我们</h3>
								<div class="separator_small"></div>
							</div>
							<p>

公司地址：深圳市罗湖区南湖路深华商业大厦1209<br/>
 邮政编码：518000  <br/>
销售热线：86-755-89921000（总机）4000-175-688（业务） <br/>

传真电话：86-755-26067256  86-755-26063832  86-755-26067245 <br/>

电子邮箱：cs@eagletrans.com.hk <br/>

公司网址：www.eagletrans.com.hk     
 </p>

							<div class="widget_socail m-top-30">
								<ul class="list-inline">
									<li><a href=""><i class="fa fa-facebook"></i></a></li>
									<li><a href=""><i class="fa fa-twitter"></i></a></li>
									<li><a href=""><i class="fa fa-linkedin"></i></a></li>
									<li><a href=""><i class="fa fa-vimeo"></i></a></li>
									<li><a href=""><i class="fa fa-instagram"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-8 sm-m-top-30">
						<form class="" action="{:url('sendmail')}" method="post">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group"> 
										<input id="first_name" name="name" type="text" placeholder="称呼" class="form-control" required="">
									</div>
								</div>

								<div class="col-sm-6">
									<div class="form-group">  
										<input id="phone" name="phone" type="text" placeholder="电话" class="form-control" onkeyup="this.value=this.value.replace(/[^0-9-]+/,'');">
										<input type="hidden" name="createtime">
										<input type="hidden" name="ip" value="{:request()->ip()}">
									</div>
								</div>

								<div class="col-sm-12">
									<div class="form-group">  
										<textarea class="form-control" rows="6" placeholder="信息" name="content"></textarea>
									</div>
										<button type="submit" class="btn btn-primary">发送</button>
								</div>

							</div>

						</form>
					</div>
				</div>
			</div><!--End off row -->
		</div><!--End off container -->
	</section><!--End off Contact Section-->
	<!-- scroll up-->
	<div class="scrollup">
		<a href="#"><i class="fa fa-chevron-up"></i></a>
	</div><!-- End off scroll up -->
{/block}
