{extend name='base'/}
{block name='content'}
<div class="col-md-10">
  <div class="panel panel-default">
  	 <div class="panel-heading">新闻管理</div>
  	 <div class="panel-body">
  	 	<table class="table table-condensed" style="">
  	 		<caption>
  	 			<a class="btn btn-success" href="{:url('admin/news/index')}">栏目管理</a>
  	 			<a class="btn btn-success" href="{:url('store')}">添加新闻</a>
  	 		</caption>
  	 			<tr>
  	 				<th>文章名称</th>
            <th>所属分类</th>
            <th>添加时间</th>
  	 				<th>操作</th>
  	 			</tr>
          {volist name='sortData' id='value'}
          <tr>
            <td style="line-height: 28px;">{$value.name}</td>
            <td style="line-height: 28px;">{$value.sortname}</td>
            <td style="line-height: 28px;">{:date('Y-m-d',$value.createtime)}</td>
            <td style="line-height: 28px;">
                  <a href="{:url('edit',['id'=>$value.id])}" class="btn btn-info">编辑</a>
                  <a href="{:url('del',['id'=>$value.id])}" class="btn btn-danger">删除</a>
            </td>
          </tr>
          {/volist}
  	 	</table>
  
  	 </div>
  </div style='right: 0px'>
 </div>
{/block}